.toggle-holder {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 3;
}

#toggle {
  height: 23px;
  width: 30px;
  position: relative;
}

#toggle:hover {
  cursor: pointer;
}

#toggle:before,
#toggle:after {
  content: '';
  height: 3px;
  width: 30px;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 8px;
  background-color: #faefff;
}

#toggle:before {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0px);
  width: 21px;
  margin-left: 0;
}

#toggle:hover:before {
  margin-left: 9px;
}

#toggle.on:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  transform: rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
  background-color: #fff;
  margin-left: 0;
  width: 26px;
}

#toggle.on:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
  background-color: #fff;
  width: 26px;
}

#toggle:after {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

#toggle .menu-line {
  width: 13px;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  margin-left: 0;
  top: 8px;
  background-color: #faefff;
}

#toggle:hover .menu-line {
  margin-left: 17px;
}

#toggle.on .menu-line {
  opacity: 0;
}
