:root {
  --project-gap: 3rem;

  // TODO redo this checking all breakpoints
  // @media (max-width: $max-xLarge) {
  //   --project-gap: 2rem;
  // }

  // @media (max-width: $max-large) {
  //   --project-gap: 5rem;
  // }
}

.page-section.projects {
  padding-right: 6.5rem;
  padding-left: 6.5rem;

  @media screen and (max-width: $max-large) {
    padding-right: 0;
    padding-left: 0;
  }
}

.projects-container {
  background-color: var(--background-dark);
  padding: 6.5rem;

  @media screen and (max-width: $max-large) {
    // larger bottom padding for full width
    // right and left padding to match other section padding
    padding: 6.5rem 7rem 9rem;
  }

  // TODO adjust top and bottom padding for smaller screens after text size changes
  @media screen and (max-width: $max-medium) {
    padding: 6.5rem 5rem 9rem;
  }

  // TODO adjust top and bottom padding for smaller screens after text size changes
  @media screen and (max-width: $max-small) {
    padding: 6.5rem 3rem 9rem;
  }

  .projects-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .projects-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--project-gap);
    margin-top: 3.5rem;
    will-change: transform;

    .projects-grid-item {
      position: relative;
      background-color: #f0f0f0;
      aspect-ratio: 1 / 1;
      background-size: cover;
      box-shadow: var(--box-shadow);
      overflow: hidden;
      will-change: transform;

      .projects-grid-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--secondary-color-rgb), 0.96);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10%;
        container-type: inline-size;
        will-change: transform;

        .projects-grid-title-container {
          margin-bottom: 4%;
          width: fit-content;

          .projects-grid-title {
            font-size: clamp(2rem, 10cqw, 3rem);
            color: var(--high-contrast);
            font-weight: 800;
          }
        }

        .projects-grid-description {
          font-size: clamp(1.2rem, 6cqw, 1.8rem);
          color: var(--high-contrast);
          font-weight: 600;
          font-family: 'Nunito', sans-serif;
        }

        .projects-grid-button-container {
          position: absolute;
          bottom: 5%;
          right: 5%;
          display: flex;
          gap: 1.5rem;

          .projects-grid-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--high-contrast);

            @media not all and (hover: none) {
              &:hover {
                color: var(--primary-color);
              }
            }

            .projects-grid-button {
              transition: color 0.3s ease;
              width: 2rem;
            }
          }
        }
      }
    }
  }
}
