.projects-container {
  background-color: var(--background-dark);
  padding: 7rem;

  .projects-grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .projects-grid-item {
      flex: 1 1 calc(33.333% - 1rem); /* Default to 3 items per row */
      background-color: var(--secondary-color);
      padding: 1rem;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      background-color: #f0f0f0; /* Default background color */
      transition: transform 0.3s ease;

      @media (max-width: $max-large) {
        flex: 1 1 calc(50% - 1rem); /* 2 items per row */
      }

      @media (max-width: $max-medium) {
        flex: 1 1 100%; /* 1 item per row */
      }

      &:hover .projects-grid-overlay {
        opacity: 1;
      }

      .projects-grid-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 165, 0, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      .projects-grid-overlay-link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);

        @media not all and (hover: none) {
          &:hover {
            color: var(--secondary-color);
          }
        }

        .projects-grid-overlay-button {
          transition: color 0.3s ease;
          width: 1.5rem;
        }
      }
    }
  }
}
