.category-filter-list .button.is-checked {
  color: #f37b83;
}

#portfolio-grid.portfoio-items-mask .grid-item {
  opacity: 0.2;
}

#portfolio-grid {
  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0px);
}

#portfolio-grid.hide {
  opacity: 0;
  transform: translateY(70px);
}

#portfolio-wrapper {
  padding-top: 30px;
}

.category-filter-icon {
  width: 20px;
  height: 3px;
  background-color: #f37b83;
  float: right;
  transition: width 0.3s ease;
}

.category-filter:hover .category-filter-icon,
.category-filter.filter-open .category-filter-icon {
  width: 24px;
}

.category-filter {
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 1;
  width: 25px;
  height: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.category-filter.hide {
  opacity: 0;
  transform: translateY(70px);
}

.category-filter-list > div {
  margin-bottom: 5px;
}

.category-filter-list > div:last-of-type {
  margin-bottom: 0;
}

.category-filter:hover .category-filter-icon,
.category-filter.filter-open .category-filter-icon {
  width: 24px;
}

.category-filter-icon:after {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background-color: #f37b83;
  transform: translate(-5px, 8px);
  transition: transform 0.3s ease;
}

.category-filter:hover .category-filter-icon:after,
.category-filter.filter-open .category-filter-icon:after {
  transform: translate(4px, 8px);
}

.category-filter-icon:before {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background-color: #f37b83;
  transform: translate(10px, 11px);
  transition: transform 0.3s ease;
}

.category-filter:hover .category-filter-icon:before,
.category-filter.filter-open .category-filter-icon:before {
  transform: translate(14px, 11px);
}

.category-filter-list {
  background-color: #362b2e;
  padding-left: 20px; /* We did this in variants to collapse the toggle button */
  padding-right: 20px; /* We did this in variants to collapse the toggle button */
  width: 110px;
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 13px;
  line-height: 22px;
  color: #faefff;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}

.portfolio-load-content-holder {
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.5s ease;
}

.portfolio-load-content-holder.show {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-load-content-holder.show.viceversa {
  opacity: 0;
  transform: translateY(70px);
}

.portfolio-load-content-holder {
  /* padding-top: 30px; */
  animation: showing-portfolio-item-animation 1.5s ease forwards;
}

@keyframes showing-portfolio-item-animation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid {
  width: calc(100% + 60px);
  margin-left: -30px;
  position: relative;
  display: block;
  overflow: hidden;
}

.grid a.item-link {
  display: block;
}

.grid-item {
  float: left;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  border: 30px solid transparent;
  width: 50%;
  transition: opacity 0.3s;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  max-height: none;
  max-width: none;
}

.grid-sizer,
.grid-item {
  width: calc(100% / 3);
}

.grid-item.p-one {
  width: 100%;
}

.grid-item.p-one-third {
  width: calc(100% / 3);
}

.grid-item.p-two-third {
  width: calc(200% / 3);
}

.portfolio-text-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 20px;
  background-color: #f37b83;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.grid-item a.item-link:hover .portfolio-text-holder,
.grid-item.portfolio-content-loading a.item-link .portfolio-text-holder {
  transform: translateX(0);
}

.grid-item a.item-link.portfolio-content-loading:after,
.ajax-portfolio.portfolio-content-loading .portfolio-text-holder {
  opacity: 1;
}

.portfolio-text-wrapper {
  position: absolute;
  left: 30px;
  bottom: 0;
}

.portfolio-text {
  font-size: 28px;
  line-height: 100%;
  font-weight: 700;
  color: #faefff;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.portfolio-cat {
  font-size: 15px;
  color: #faefff;
  line-height: 100%;
}

.portfolio-cat:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: #faefff;
  vertical-align: 4px;
  margin-right: 5px;
}

.close-icon {
  /* background-image: url(images/close-left-arrow.png); */
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: rgb(243, 123, 131);
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: 70px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.close-icon:hover {
  background-position: -5px 0;
}

.close-icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: #f37b83;
  margin-bottom: 20px;
  background-size: 70px;
  /* transition: all 0.3s ease; */
  cursor: pointer;
}
.close-icon img {
  width: 100%;
  transition: transform 0.3s ease;
}

.close-icon:hover img {
  transform: translateX(-5px);
}

.close-popup-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.close-popup-btn img {
  display: block;
  width: 100%;
}

p.block-right {
  width: 100%;
}

p.block-right iframe {
  aspect-ratio: 16 / 9;
}

.poped-up-item {
  display: block;
  margin-bottom: 0 !important;
}

.popup-image-box {
  max-width: 700px;
  display: block;
}
.popup-image-box img {
  width: 100%;
}

#popup-root {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
}
.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  pointer-events: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  border: none;
  animation: show-popup 0.75s ease forwards;
}

@keyframes show-popup {
  from {
    opacity: 0.4;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  #portfolio-wrapper {
    margin-top: 30px;
  }

  #portfolio-grid > div:last-of-type {
    margin-bottom: 0;
  }

  .category-filter-list {
    top: 0;
  }

  .category-filter {
    top: -30px;
  }

  .grid {
    width: 100%;
    margin: 0;
  }

  .grid-item {
    width: 100% !important;
    border: 0;
    margin-bottom: 30px;
  }

  .popup-content {
    width: calc(100% - 40px) !important;
  }
}

@media screen and (max-width: 1020px) {
  .category-filter {
    right: 0;
  }

  .grid {
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .grid-item {
    width: 50% !important;
    border-width: 15px;
  }

  .close-icon {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }
}

@media screen and (max-width: 1440px) {
  .portfolio-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 1599px) {
  .category-filter {
    right: -1vw;
  }

  .grid {
    width: calc(100% + 4vw);
    margin-left: -2vw;
  }

  .grid-item {
    border-width: 1vw;
  }
}
