.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 6.5rem;
  z-index: 9998;
  background-color: var(--background-medium);

  @media screen and (max-width: 768px) {
    padding: 2rem 3rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navbar-logo {
      font-size: 3.2rem;
      font-weight: 800;
      color: #e2e2e2;
    }
  }

  .navbar-links-container {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

    .navbar-list-item {
      cursor: pointer;
      color: var(--primary-color);
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      transition: color 0.3s ease;

      &:hover {
        color: var(--secondary-color);
      }

      &.active {
        position: relative;
        color: var(--secondary-color);
      }
    }
  }
}
