$background-height-egg: 60vh;

@keyframes revealBackground {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes moveSidewaysBackground {
  0% {
    background-position-x: 0%;
  }
  100% {
    // coord with width and height of background image
    background-position-x: calc($background-height-egg * (3941 / 800));
  }
}

.hero-container-egg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 80px;
  background-color: var(--background-medium);
  overflow: hidden;
  gap: 6rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--hero-background);
    background-size: auto $background-height-egg;
    background-repeat: repeat-x;
    background-position: bottom 5px right;
    animation:
      revealBackground 4s ease-in-out,
      moveSidewaysBackground 200s linear infinite;
    z-index: 0;
    filter: var(--invert-filter);
  }

  .hero-text-container-egg {
    z-index: 1;
    width: 320px;
    height: 450px;
    position: relative;

    .hero-clip-path-container-egg {
      clip-path: inset(-50% 0 0 0);
      height: 220px;
      width: 100%;
      position: absolute;
      font-size: 6.6rem;

      .hero-text-hello-egg {
        font-size: 3rem;
        font-weight: 700;
        color: var(--secondary-color);
        position: absolute;
      }

      .hero-text-im-egg,
      .hero-text-jy-egg,
      .hero-text-josh-egg,
      .hero-text-young-egg {
        font-size: 6.6rem;
        font-weight: 800;
        line-height: 7rem;
        position: absolute;
      }

      .hero-text-im-egg {
        color: var(--secondary-color);
        top: 50px;
      }

      .hero-text-jy-egg {
        top: 130px;
        transform-origin: bottom left;
        padding-left: 0.5rem;
        border-radius: 5px;
      }

      .hero-text-josh-egg {
        top: 50px;
        left: 125px;
        transform-origin: bottom left;
      }

      .hero-text-young-egg {
        top: 130px;
        transform-origin: bottom left;
        border-radius: 5px;
      }
    }

    .hero-text-divider-egg {
      left: 0;
      top: 220px;
      height: 2px;
      width: 105px;
      background-color: var(--secondary-color);
      position: absolute;
    }

    .hero-swipe-container-egg {
      position: absolute;
      left: 0;
      top: 250px;
      width: 100%;
      font-size: 1rem;

      .hero-text-headline-egg {
        font-family: 'Nunito', sans-serif;
        font-size: 2.2rem;
        font-weight: 700;
        max-width: 240px;
        margin-bottom: 4rem;

        @media screen and (max-width: $max-large) {
          margin-bottom: 3rem;
        }
      }
    }
  }

  .hero-portrait-container-egg {
    z-index: 1;
    max-width: 520px;

    @media screen and (max-width: $max-xLarge) {
      max-width: 480px;
    }

    @media screen and (max-width: $max-large) {
      max-width: 400px;
    }

    .picture,
    img {
      width: 100%;
    }
  }

  @media screen and (max-width: $max-small) {
    padding: 0 20px;
  }
}
