.preloader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #362b2e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  transition: opacity 0.5s;
}

.preloader .loader {
  width: 40px;
  height: 40px;
  border: 5px solid #f37b83;
  border-top-color: transparent;
  border-radius: 50%;
  animation: loading-animation 2s linear infinite;
}

.preloader.fadeOff {
  opacity: 0;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
