.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 80px;
  background: {
    color: var(--background-medium);
    size: auto 50vh;
    position: bottom right;
    repeat: no-repeat;
  }

  .hero-text-container {
    max-width: 280px;

    .hero-text-hello {
      font-size: 3rem;
      font-weight: 700;
      color: var(--secondary-color);
      line-height: 5rem;
    }

    .hero-text-im,
    .hero-text-josh-young {
      font-size: 6.6rem;
      font-weight: 800;
      line-height: 7rem;
    }

    .hero-text-im {
      color: var(--secondary-color);
    }

    .hero-text-divider {
      margin: 2rem 0;
    }

    .hero-text-headline {
      font-family: 'Nunito', sans-serif;
      font-size: 2.2rem;
      font-weight: 700;
      max-width: 240px;
    }
  }
  .hero-portrait-container {
    max-width: 560px;

    .hero-portrait {
      width: 100%;
    }
  }

  @media screen and (min-width: 1200px) {
    background-size: contain;
  }

  @media screen and (max-width: $max-small) {
    padding: 0 20px;
  }
}
