// TODO if we don't end up using more than just opacity, may as well not do keyframes here
@keyframes animatedBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 80px;
  background-color: var(--background-medium);
  overflow: hidden;
  gap: 6rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--hero-background);
    background-size: auto 50vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    animation: animatedBackground 3s ease-in-out;
    z-index: 0;

    @media screen and (min-width: $min-xLarge) {
      background-size: contain;
    }
  }

  .hero-text-container {
    max-width: 280px;
    z-index: 1;
    margin-bottom: 6rem;

    .hero-text-hello {
      font-size: 3rem;
      font-weight: 700;
      color: var(--secondary-color);
      line-height: 5rem;
    }

    .hero-text-im,
    .hero-text-josh-young {
      font-size: 6.6rem;
      font-weight: 800;
      line-height: 7rem;
    }

    .hero-text-im {
      color: var(--secondary-color);
    }

    .hero-text-divider {
      margin: 2rem 0;
    }

    .hero-text-headline {
      font-family: 'Nunito', sans-serif;
      font-size: 2.2rem;
      font-weight: 700;
      max-width: 240px;
      margin-bottom: 4rem;

      @media screen and (max-width: $max-large) {
        margin-bottom: 3rem;
      }
    }
  }

  .hero-portrait-container {
    z-index: 1;
    max-width: 520px;

    .hero-portrait {
      width: 100%;
    }
  }

  @media screen and (max-width: $max-small) {
    padding: 0 20px;
  }
}
