.page-section {
  // coordinate this with padding const in Experience.tsx view
  // and the unique padding in the projects.scss
  padding: 10rem 13rem 5rem;

  @media screen and (max-width: $max-large) {
    padding: 8rem 7rem 3rem;
  }

  @media screen and (max-width: $max-medium) {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  @media screen and (max-width: $max-small) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  // See global.scss for .section-title
  .section-reveal-wrapper {
    margin-bottom: 3rem;
  }

  // TODO remove height
  &.skills {
    height: 1000px;
  }

  &.contact {
    height: 1000px;
  }
}
