// TODO REMOVE THeSe STYLEs!!!!!!!!!!!!!!!!!!!!!!!!!!!
.page-section {
  height: 1000px;

  // &:nth-child(even) {
  //   background-color: var(--background-dark);
  // }

  // &:nth-child(odd) {
  //   background-color: var(--background-light);
  // }

  .section-reveal-wrapper {
    margin-bottom: 3rem;

    .section-title {
      font-size: 4.8rem;
      color: var(--primary-color);
    }
  }

  &.home {
    height: 100vh;
  }
}
