.container {
  position: relative;
  width: 50px;
  height: 100px; /* Increase the height to allow for vertical movement */
  background: transparent; /* Or any background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute; /* Position arrows absolutely within the container */
  transform-origin: 50% 50%;
  width: 30px; /* Set width for the arrow */
  height: 30px; /* Set height for the arrow */
}

.arrow-first,
.arrow-second {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
