.page-section.skills {
  .section-header {
    margin-bottom: 0;

    @media screen and (max-width: $max-medium) {
      margin-bottom: 2rem;
    }
  }

  .skills-container {
    aspect-ratio: 1000 / 466;
    // width: 1000px;
    width: 100%;
    height: auto;
    position: relative;

    @media screen and (max-width: $max-medium) {
      aspect-ratio: 466 / 1000;
    }

    .skills-svg-container {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 0;
      overflow: visible;
    }
  }
}
