:root {
  --primary-color: #e2e2e2;
  --primary-color-transparent: #e2e2e200;
  --secondary-color: #e4a53e;
  --secondary-color-rgb: 228, 165, 62;
  --background-light: #34343b;
  --background-light-translucent: #34343b95;
  --background-medium: #2e2e35;
  --background-dark: #25252c;
  --high-contrast: var(--background-dark);
  --invert-filter: none;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.06);
  --box-shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.15),
    0 2px 8px rgba(0, 0, 0, 0.1);
  --header-footer-padding-x: 6.5rem;

  --transition-duration: 0.4s ease-in-out;
  --xxLarge-content-margin: 8%;
  --xxxLarge-content-margin: 12%;

  @media screen and (max-width: $max-large) {
    --header-footer-padding-x: 3rem;
  }

  @media screen and (max-width: $max-small), (max-height: $max-sm-height) {
    --header-footer-padding-x: 2rem;
  }
}

html[data-theme='light'] {
  --primary-color: #25252c;
  --primary-color-transparent: #25252c00;
  --secondary-color: #f2635b;
  --secondary-color-rgb: 242, 99, 91;
  --background-light: #ffffff;
  --background-light-translucent: #ffffff95;
  --background-medium: #f4f4f6;
  --background-dark: #e1e0e6;
  --high-contrast: var(--background-light);
  --invert-filter: hue-rotate(-40deg) brightness(550%) saturate(40%);
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.06);
  --box-shadow-hover: 0 6px 18px rgba(0, 0, 0, 0.1);
}

:root {
  background-color: var(--background-dark);
}

#content {
  background-color: var(--background-medium);
}

#content {
  @media screen and (min-width: $min-xxLarge) {
    margin: 0 var(--xxLarge-content-margin);
  }

  @media screen and (min-width: $min-xxxLarge) {
    margin: 0 var(--xxxLarge-content-margin);
  }
}

.big-period {
  font-size: 1.25em !important;
  color: var(--secondary-color) !important;
  line-height: 0 !important;
}

.section-title {
  font-size: 4.8rem;
  color: var(--primary-color);
}
