:root {
  --primary-color: #e2e2e2;
  --secondary-color: #e4a53e;
  --background-light: #34343b;
  --background-medium: #2e2e35;
  --background-dark: #25252c;
  --transition-duration: 0.4s ease-in-out;
  --xlarge-content-margin: 8%;
  --xxlarge-content-margin: 12%;
}

html[data-theme='light'] {
  --primary-color: #e2e2e2;
  --secondary-color: #e4a53e;
  --background-light: #34343b;
  --background-medium: #2e2e35;
  --background-dark: #25252c;
}

:root {
  background-color: var(--background-dark);
}

#content {
  background-color: var(--background-medium);
}

#content {
  @media screen and (min-width: $min-xlarge) {
    margin: 0 var(--xlarge-content-margin);
  }

  @media screen and (min-width: $min-xxlarge) {
    margin: 0 var(--xxlarge-content-margin);
  }
}

.big-period {
  font-size: 1.25em;
  color: var(--secondary-color);
  line-height: 1em;
}

// TODO REMOVE THeSe STYLEs!!!!!!!!!!!!!!!!!!!!!!!!!!!
.page-section {
  height: 1000px;

  &:nth-child(even) {
    background-color: var(--background-dark);
  }

  &:nth-child(odd) {
    background-color: var(--background-light);
  }

  &.home {
    height: 100vh;
  }
}
