* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%; /* 1rem = 10px for easier rem calculations */
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--primary-color);
}

p {
  margin: 0;
}

h1 {
  font-weight: 800; /* Black weight */
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
