/* TODO go through this for duplicates and combine */
/* TODO ISOTOPE? What? */
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.block {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #a88590;
  background-color: #fff;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s linear;
}

body a:hover {
  color: #acacac;
}

body img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.doc-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #362b2e;
}

.doc-loader img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 20px 0;
  color: #f37b83;
}

h1 {
  font-size: 38px;
  line-height: 38px;
}

h2 {
  font-size: 34px;
  line-height: 34px;
}

h3 {
  font-size: 32px;
  line-height: 32px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 26px;
}

em {
  font-style: italic;
}

ol {
  list-style-type: decimal;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  vertical-align: middle;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

.content-1300 {
  max-width: 1300px;
}

/* This is a fix for float, probably can delete! */
.row:after {
  content: '';
  display: block;
  clear: both;
}

h2.section-title {
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 30px;
  padding-top: 0;
}

.section {
  background-color: #302729;
  position: relative;
  padding-top: 150px;
}

.section-wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

.section-info {
  font-size: 22px;
  line-height: 35px;
}

.one-half {
  margin-right: 10%;
  float: left;
  position: relative;
}

.one-half {
  width: 45%;
}

.width-40 {
  width: 40%;
  margin-right: 5%;
}

.width-55 {
  width: 55%;
  margin-right: 5%;
}

.last {
  margin-right: 0 !important;
  clear: right;
}

a.button {
  display: inline-block;
  color: #faefff;
  border: 2px solid #f37b83;
  text-align: center;
  padding: 12px 38px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.2s linear;
}

a.button:active {
  position: relative;
  top: 1px;
}

a.button:hover {
  color: white;
  background-color: #f37b83;
}

.relative {
  position: relative;
}

@media screen and (max-width: 1300px) {
  .one-half {
    width: 100%;
    margin-bottom: 60px;
    margin-right: 0;
  }

  .one-half.last {
    margin-bottom: 0;
  }

  .one-half > p:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1360px) {
  .content-1300 {
    margin: 0 auto;
  }

  h2.section-title {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1599px) {
  .section {
    padding-top: 75px;
  }
}
