:root {
  --circle-top-spacing: 12px;
  --circle-container-diameter: 30px; // not the actual size of the circle, we need some room for the pulse
  --circle-container-radius: calc(var(--circle-container-diameter) / 2);
  --line-gap: 2px;
  --line-top-offset: calc(
    var(--circle-top-spacing) + var(--circle-container-diameter) +
      var(--line-gap)
  );
}

.experience-item-container {
  display: flex;
  flex-direction: row;
  position: relative;

  .experience-item-circle-container {
    padding-top: var(--circle-top-spacing);
    position: relative;

    .experience-item-base-circle {
      stroke: none;
      fill: var(--secondary-color);
    }

    .experience-item-hover-circle {
      stroke: none;
      fill: var(--background-light);
    }

    .experience-item-pulse-circle {
      stroke: none;
      fill: #f2b966;
    }

    .experience-item-line {
      position: absolute;
      top: var(--line-top-offset);
      left: 14px;
      width: 2px;
      height: calc(
        100% - var(--line-top-offset) + var(--circle-top-spacing) - var(
            --line-gap
          )
      );
      stroke: var(--secondary-color);
      stroke-width: 2px;
    }
  }

  .experience-item-paragraph {
    background-color: var(--background-medium);
    margin: 0 0 2rem 2rem;
    width: 100%;
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    position: relative;
    overflow-y: hidden;
    overflow-x: visible;

    .experience-item-company-details {
      margin-bottom: 1rem;
    }

    .experience-item-year-range {
      margin: 1rem 0 1rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-size: 1.8rem;
      color: var(--secondary-color);
    }

    .experience-item-title {
      margin-bottom: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
    }

    .experience-item-description {
      margin-bottom: 1rem;
    }

    .experience-item-year-range,
    .experience-item-title,
    .experience-item-company-details,
    .experience-item-description {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .experience-item-triangle {
    position: absolute;
    // 2rem from experience-item-paragraph left padding
    // 13px from width of the triangle - 1px (so it doesn't butt exactly)
    left: calc(var(--circle-container-diameter) + 2rem - 13px);
    top: 1.5rem;
    fill: var(--background-medium);
  }
}
