// css variable so that this is obvious, as we're syncing this
// with the STICKY_HEADER_HEIGHT variable(s) from constants
:root {
  --sticky-header-height: 75px;
}

@media (max-width: $max-small), (max-height: $max-sm-height) {
  :root {
    --sticky-header-height: 60px;
  }
}

.sticky-header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: var(--header-footer-padding-x);
  padding-right: var(--header-footer-padding-x);
  padding-top: 0;
  padding-bottom: 0;
  height: var(--sticky-header-height);
  z-index: 9998;
  background-color: var(--background-medium);

  .sticky-header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    .sticky-header-logo {
      font-size: 3rem;
      font-weight: 800;
      color: var(--primary-color);

      @media screen and (max-width: $max-small), (max-height: $max-sm-height) {
        font-size: 2.4rem;
      }
    }

    .sticky-header-menu {
      @media screen and (max-width: $max-small), (max-height: $max-sm-height) {
        margin-right: -0.5rem;
      }
    }
  }

  @media screen and (min-width: $min-xxLarge) {
    margin: 0 var(--xxLarge-content-margin);
  }

  @media screen and (min-width: $min-xxxLarge) {
    margin: 0 var(--xxxLarge-content-margin);
  }
}
