$button-size: 40px;
$menu-line-height: 3px;
$wide-menu-line: 20px;
$arrow-menu-line: 16px;
$short-menu-line: calc($wide-menu-line / 2);
$bottom-line-top-offset: calc($short-menu-line + 2px);
$menu-line-bottom-gap: 6px;
$menu-item-padding: 5rem;

.projects-menu-container {
  display: flex;
  justify-content: flex-end;
  height: $button-size;
  width: $button-size;
  position: relative;

  .projects-menu-trigger-container {
    position: absolute;

    .projects-menu-trigger {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      width: $button-size;
      height: $button-size;
      padding-right: calc(
        ($button-size - $wide-menu-line - $menu-line-bottom-gap) / 2
      );
      padding-top: calc(
        ($button-size - $bottom-line-top-offset - $menu-line-height) / 2
      );

      & span,
      & span:after,
      & span:before {
        content: '';
        display: block;
        height: $menu-line-height;
        background: var(--primary-color);
        transition: 0.3s ease-in-out;
        backface-visibility: hidden;
        right: 0;
      }

      // top line
      & span {
        width: $wide-menu-line;
        position: relative;

        // bottom right line
        &:before {
          width: $short-menu-line;
          top: $bottom-line-top-offset;
          position: absolute;
        }

        // bottom left line
        &::after {
          width: $short-menu-line;
          top: $bottom-line-top-offset;
          right: calc($short-menu-line + $menu-line-bottom-gap);
          position: absolute;
        }
      }

      &.menu-open {
        & span,
        & span:after,
        & span:before {
          background: var(--secondary-color);
        }

        // top line
        & span {
          width: $arrow-menu-line;
          transform: translate(calc($wide-menu-line / 2 * -1), 7px)
            rotate(45deg);

          // bottom right line
          &:before {
            width: $arrow-menu-line;
            transform: translate(
                calc(($arrow-menu-line / 2) - 1px),
                calc(($arrow-menu-line / 2 * -1) + 1px)
              )
              rotate(-90deg);
            top: 0;
          }

          // bottom left line
          &::after {
            width: $arrow-menu-line;
            top: 0;
            right: 0;
          }
        }
      }

      // prevent hover styling on touch devices, gets stuck orange and left justified on click
      @media not all and (hover: none) {
        &:hover {
          & span,
          & span:after,
          & span:before {
            background: var(--secondary-color);
          }
        }

        &:not(.menu-open):hover {
          // top line
          & span {
            width: calc($wide-menu-line + 6px);
          }

          // bottom left line
          & span:after {
            transform: translate($menu-line-bottom-gap, 0);
          }
        }
      }
    }
  }

  .projects-menu {
    position: absolute;
    top: 5rem;
    right: -1rem;
    height: fit-content;
    padding: 3rem 3.5rem 3rem 4rem;
    transform-origin: calc(100% - 20px) 0;
    background-color: var(--background-light);
    will-change: transform;
    z-index: 1;
    backface-visibility: hidden;
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.1),
      0 6px 20px rgba(0, 0, 0, 0.1);

    .projects-menu-triangle {
      position: absolute;
      right: 1.8rem;
      // height of svg triangle
      top: -12px;
      fill: var(--background-light);
    }

    .projects-menu-list {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-end;

      .projects-menu-list-item {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        .projects-menu-item-button {
          font-size: 1.8rem;
          font-weight: 600;
          color: var(--primary-color);
          line-height: 4rem;
          position: relative;
          transition: color 0.75s;

          &::after {
            content: '';
            position: absolute;
            bottom: 3px;
            right: 0;
            height: 2px;
            background: var(--secondary-color);
            width: 0;
            transition: width 1s cubic-bezier(0.5, -0.5, 0.25, 1.5);
          }

          @media not all and (hover: none) {
            &:hover {
              color: var(--secondary-color);
            }
          }
        }

        &.active .projects-menu-item-button {
          color: var(--secondary-color);

          &.projects-menu-item-button::after {
            width: 100%;
          }
        }
      }
    }
  }
}
